* {
    margin: 0;
    padding: 0;
    text-align: center;
}
/*
? color"# or r-g-b"
*/
h2 {
    color: rgb(red, green, blue);
}

h3 {
    color: #E21AB2;
}

div {
    width: 100%;
    height: 200px;
    background-color: aquamarine;
}