ul {
    list-style: none;
    padding-left: 0px;
    background-color: gray;
    width: 100%;
}

ul li {
    display: inline-block;
    padding: 10px 5px;
}

ul li:hover {
    background-color: lightgreen;
    transition: 0.5s;
}

ul li:first-child {
    background-color: violet;
}

ul li a {
    color: black;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: bold ;
}