* {
    margin: 0;
    padding: 0;
}

/*
? top = üst
? bottom = alt
? left = sol
? right = sağ
TODO "margin" dış katmandır
!margin "top-right-bottom-left"!
*margin "top/bottom-left/right"
*/
.box {
    width: 200px;
    height: 60px;
}

.b1 {
    background-color: purple;
    margin-bottom: 30px;    
    margin-left: 200px;    
}

.b2 {
    background-color: aqua;
    margin-left: 100px;
}

.b3 {
    background-color: black;
    margin-left: 100px;
    margin-top: 50px;
}

.tbox {
    background-color: brown;
    width: 200px;
    height: 100px;
    margin-top: 100px;          
}